body {
   background: black;
   width: 100%;  
   height: 100%;
   margin: 0;
   padding: 0;
}
h1 {
   font-weight: bold;
}
p {
   color: black;
}

#wall1 {
   margin: 0;
   padding: 0;
   width: 1440px;
   height: 900px;
   background-image: url("images/wall_with_door.png");
}

#wall1 > * {
   margin: 0;
   padding: 0;
   position: absolute;
}

#wall2 {
   margin: 0;
   padding: 0;
   width: 1440px;
   height: 900px;
   background-image: url("images/empty_wall.png");
}

#wall2 > * {
   margin: 0;
   padding: 0;
   position: absolute;
}

#right_side {
   position: absolute;
   top: 450px;
   left: 1300px;
}

#right_side:hover {
   cursor: pointer;
   border-top-right-radius: 50px;
   border-bottom-right-radius: 50px;
   background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(10,36,114));
}


#left_side {
   position: absolute;
   top: 450px;
   left: 40px;
   transform: rotateY(180deg);
}

#left_side:hover {
   cursor: pointer;
   border-top-right-radius: 50px;
   border-bottom-right-radius: 50px;
   background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(10,36,114));
}


#trash {
   position: absolute;
   top: 590px;
   left: 535px;
   width: 200px;
}
#closed_drawer_table {
   position: absolute;
   top: 550px;
   left: 600px;
   width: 550px;
}

#computer_monitor {
   position: absolute;
   top: 425px;
   left: 700px;
   width: 200px;
}

#written_paper {
   position: absolute;
   top: 585px;
   left: 925px;
   width: 100px;
}

#lock {
   position: absolute;
   top: 785px;
   left: 843px;
   width: 25px;
}
